@import "../media.scss";

@mixin iconRightBtn($url, $display: block) {
  display: $display;
  position: relative;
  background-color: $clr-black;
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  @if $display == "block" {
    width: 100%;
    padding: 18px 0;
    @include desktop(){
      padding: 26px 0;
      transition: 0.3s linear;
    }
  }
  @else {
    width: 520px;
    padding: 30px 100px;
  }
  &:hover {
    opacity: 0.7;
  }
  &:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
